.content-wrapper {
	overflow-y: auto;
}

#add-school-1 {
	background-image: url('../Assets/Images/clouds.jpg');
	background-size: cover;
}

#add-school-2 {
	background-image: none;
}

.main-title2 {
	margin: 10px 0 30px 0;
}

#steps-container {
	font-family: 'CaviarDreams';
	font-size: 25px;
	border: solid 1px #bad36a;
	border-radius: 10px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px 0;
	margin-bottom: 80px;
}

#steps-container #step-num {
	background-color: #bad36a;
	border-radius: inherit;
	padding: 5px 20px;
	color: white;
}

#steps-container #step-description {
	padding: 5px 20px;
	color: #a9a9a9;
}

#searchbox-container {
	width: 600px;
	margin: 0 auto;
	position: relative;
}

#searchbox-container .searchbox {
	border: none;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 25px;
	font-family: 'CaviarDreams';
	width: 100%;
	border-radius: 5px;
	padding: 5px 50px 5px 10px;
}

#searchbox-container .search-button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border: none;
	background: none;
}

#searchbox-container .search-button img {
	height: 100%;
}

#search-results-container {
	margin-top: 100px;
	background-color: rgba(186, 211, 106, 0.75);
	text-align: left;
}

#search-results-container a {
	text-decoration: none;
}

#search-results-container .search-item-container {
	padding: 15px 50px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

#search-results-container .search-item-container:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#search-results-container .search-item-container.applied:hover {
	background-color: rgba(142, 142, 142, 0.5);
}

#search-results-container .search-item-container .search-title {
	font-family: 'CaviarDreams';
	font-size: 25px;
	color: white;
}

#search-results-container .search-item-container.applied .search-title {
	color: black;
}

#search-results-container .search-item-container .search-description {
	font-family: 'CaviarDreams';
	color: #646464;
	font-style: italic;
}

#search-results-container .search-item-container .applied-container {
	float: right;
	font-family: 'CaviarDreams';
	color: #cd3500;
	font-size: 25px;
}

#school-description-container .logo-container {
	width: 30%;
	display: inline-block;
}

#school-description-container .logo-container img {
	width: 100%;
}

#school-description-container .courses-container {
	width: 69%;
	display: inline-block;
	vertical-align: top;
}

#school-description-container ol {
	height: 300px;
	margin: 0;
	box-sizing: border-box;
	padding: 70px 40px;
}

#school-description-container .courses-container ol li {
	text-align: left;
	font-family: 'CaviarDreams';
	font-size: 20px;
	color: black;
}

#school-description-container .courses-container ol li a {
	text-decoration: none;
	color: black;
}

#school-description-container .courses-container ol li a:hover {
	text-decoration: none;
	color: #bad36a;
}

#school-description-container .description-container p {
	font-family: "CaviarDreams";
}

.white-button {
	float: left;
	margin: 5px 15px;
}

a.green-button {
	text-decoration: none;
}