@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);

@import
	url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300)
	;

body {
	margin: 0;
	padding: 0;
	background: #e5e5e5;
	text-align: center;
}

.signup-button {
	float: right;
	color: #B5C99C;
	font-family: "CaviarDreams";
	font-size: 24px;
	border: solid 1px;
	border-radius: 15px;
	padding: 5px 10px;
	margin: 16px 29px;
	text-decoration: none;
}

.signup-button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

.login .main-title1 {
	font-size: 55px;
	padding-left: 32px;
}

.login form {
	position: absolute;
	width: 50%;
	height: 274px;
	left: 50%;
	bottom: 6px;
	transform: translateX(-50%);
	z-index: 2;
	padding-top: 4px;
}

.login form input {
	box-sizing: border-box;
	width: 100%;
	height: 63px;
	margin-bottom: 42px;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: "CaviarDreams";
	outline: none;
	border: none;
	background: none;
}

.login form input[type="text"] {
	padding: 0 11px 0 32px;
}

.login form input[type="submit"] {
	padding-right: 58px;
	font-family: "Varsity";
	font-size: 50px;
	text-transform: uppercase;
}

.login form input[type="submit"]:hover {
	color: gray;
}

::-webkit-input-placeholder {
	color: white;
}

::-moz-input-placeholder {
	color: white;
}