<!doctype>

<html>
	<head>
		<title>PCUAS</title>

		<script type="text/javascript" src="Scripts/jquery-1.11.2.min.js"></script>
		
		<!--sLICK SLIDER-->
		<script type="text/javascript" src="Scripts/slick/slick.min.js"></script>
		<link rel="stylesheet" type="text/css" href="Scripts/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="Scripts/slick/slick-theme.css">
		
		<!--CIRCLE HOVER EFFECTS-->
		<script type="text/javascript" src="Scripts/CircleHoverEffects/js/modernizr.custom.79639.js"></script>
		<link rel="stylesheet" type="text/css" href="Scripts/CircleHoverEffects/css/common.css" />
        <link rel="stylesheet" type="text/css" href="Scripts/CircleHoverEffects/css/style3.css" />

        <!-- HOVER EFFECT IDEAS -->
		<link rel="stylesheet" type="text/css" href="Scripts/HoverEffectIdeas/set1.css" />
    	
        <!--SELF-->
		<script type="text/javascript" src="script.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		
	</head>
	<body>
		<div id="side-container">
			<div id="side-wrapper">
				<div id="side-menu-container">
					<br>
				</div>
				<div id="side-menu-container-list">
					<label id="header">Home</label>
					<div><span unselectable="on" id="backinfo">Background Information</span></div>
					<div><span unselectable="on" id="acadinfo">Academic Information</span></div>
					<div><span unselectable="on" id="docutran">Documents & Transcripts</span></div>
					<div><span unselectable="on" id="misc">Miscellaneous</span></div>
				</div>
			</div>
		</div>
		<div id="mainscreen">
			<div id="menu-container">
				<div id="menu-button" class="left-side">
					<ul>
						<li><br><label><%= image_tag("Images/menu-logo.png")%><br><br></label></li>
					</ul>
				</div>
				<div class="right-side">
					<ul>
						<li><label unselectable="on">Log Out</label></li>
					</ul>
				</div>
				<div class="middle-side">
					<span unselectable="on">Animo-App.ly0</span>
				</div>
				
			</div>

			<!--Use content-wrapper class for every horizontal section of the site-->
			<!--Add a second classname for the section name-->
			<!--Add a third class to specify if full(width:100%; height: 100%) or normal(width:100%, height: auto)-->
			<div class="content-wrapper login full">
				<!--Add the content-container class if the width of the content is not 100% (width: 1000px)-->
				<div class="content-container">
					<!--The content-container children should ALWAYS compose of the specific section's outer div -->
					<div class="login-container">
						<div class="login-title">
							<h1 unselectable="on">ACADEMIC INFORMATION</h1>
						</div>
						<div class="information-container">
							<form>
								<div class="lefthalf">
									<input class="hs1" type="text" placeholder="HIGH SCHOOL NAME - 1ST YEAR"><br>
									<input class="country1" type="text" placeholder="COUNTRY"><br>
									<input class="year1" type="number" placeholder="YEAR ATTENDED yyyy-yyyy"><br>
									<textarea class="address1" type="text" placeholder="ADDRESS"></textarea>
								</div>
								<div class="righthalf">
									<input class="hs2" type="text" placeholder="HIGH SCHOOL NAME - 2ND YEAR"><br>
									<input class="country2" type="text" placeholder="COUNTRY"><br>
									<input class="year2" type="number" placeholder="YEAR ATTENDED yyyy-yyyy"><br>
									<textarea class="address2" type="text" placeholder="ADDRESS"></textarea>
								</div>
								<div class="lefthalf">
									<input class="hs3" type="text" placeholder="HIGH SCHOOL NAME - 3RD YEAR"><br>
									<input class="country3" type="text" placeholder="COUNTRY"><br>
									<input class="year3" type="number" placeholder="YEAR ATTENDED yyyy-yyyy"><br>
									<textarea class="address3" type="text" placeholder="ADDRESS"></textarea>
								</div>
								<div class="righthalf">
									<input class="hs4" type="text" placeholder="HIGH SCHOOL NAME - 4TH YEAR"><br>
									<input class="country4" type="text" placeholder="COUNTRY"><br>
									<input class="year4" type="number" placeholder="YEAR ATTENDED yyyy-yyyy"><br>
									<textarea class="address4" type="text" placeholder="ADDRESS"></textarea>
								</div>
								<input class="submit" type="submit" value="SUBMIT">
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
