<!doctype html>

<html>
	<head>

		<!--JQUERY-->
		<script type="text/javascript" src="Libraries/jquery-1.11.2.min.js"></script>

		<!--SELF-->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/background_info.css">

		<!--MENU-->
		<script type="text/javascript" src="scripts/menu.js"></script>
		<link rel="stylesheet" type="text/css" href="css/menu.css">
	</head>
	<body>
			
		<div id="main-container">
			<div class="content-wrapper full">
				<div class="content-container">
					<br>
					<label class="main-title2">Academic Information</label>

					<div class="information-container">
							<form>
								<div class="lefthalf">
									<input class="hs1" type="text" placeholder="HIGH SCHOOL NAME - 1ST YEAR"><br>
									<input class="country1" type="text" placeholder="COUNTRY"><br>
									<input class="year1" type="number" placeholder="YEAR ATTENDED yyyy-yyyy"><br>
									<textarea class="address1" type="text" placeholder="ADDRESS"></textarea>
								</div>
								<div class="righthalf">
									<input class="hs2" type="text" placeholder="HIGH SCHOOL NAME - 2ND YEAR"><br>
									<input class="country2" type="text" placeholder="COUNTRY"><br>
									<input class="year2" type="number" placeholder="YEAR ATTENDED yyyy-yyyy"><br>
									<textarea class="address2" type="text" placeholder="ADDRESS"></textarea>
								</div>
								<div class="lefthalf">
									<input class="hs3" type="text" placeholder="HIGH SCHOOL NAME - 3RD YEAR"><br>
									<input class="country3" type="text" placeholder="COUNTRY"><br>
									<input class="year3" type="number" placeholder="YEAR ATTENDED yyyy-yyyy"><br>
									<textarea class="address3" type="text" placeholder="ADDRESS"></textarea>
								</div>
								<div class="righthalf">
									<input class="hs4" type="text" placeholder="HIGH SCHOOL NAME - 4TH YEAR"><br>
									<input class="country4" type="text" placeholder="COUNTRY"><br>
									<input class="year4" type="number" placeholder="YEAR ATTENDED yyyy-yyyy"><br>
									<textarea class="address4" type="text" placeholder="ADDRESS"></textarea>
								</div>
								<input class="submit" type="submit" value="SUBMIT">
								<br><br>
							</form>
						</div>
				

				</div>
			</div>

		</div>

	</body>
	
</html>