<!doctype html>

<html>
	<head>

		<!--JQUERY-->
		<script type="text/javascript" src="Libraries/jquery-1.11.2.min.js"></script>

		<!--SLICK SLIDER-->
		<link rel="stylesheet" type="text/css" href="Libraries/slick/slick.css">
		<script type="text/javascript" src="Libraries/slick/slick.min.js"></script>

		<!--SELF-->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/addschool.css">
		<script type="text/javascript" src="Scripts/addschool.js"></script>

		<!--MENU-->
		<script type="text/javascript" src="scripts/menu.js"></script>
		<link rel="stylesheet" type="text/css" href="css/menu.css">
	</head>
	<body>
			
		<div id="main-container">
			<div id="add-school-2" class="content-wrapper full">
				<div class="content-container">
					<br>
					<h1 class="main-title2">Add School</h1>

					<div id="steps-container">
						<label id="step-num">Step 2:</label>
						<label id="step-description">Select your courses</label>
					</div>

					<div id="school-description-container">
						<div class="logo-container">
							<%=image_tag "school-logo-dlsu.png"%>
						</div>
						<div class="courses-container">
							<div class="select-number-container">
								<ol>
									<li><a href="#">Click to add course . . .</a></li>
									<li><a href="#">Click to add course . . .</a></li>
									<li><a href="#">Click to add course . . .</a></li>
								</ol>
							</div>
							<div class="select-college-container">
								<label class="white-button">Back</label>
								
								<ol>
									<li><a href="#">College of Computer Studies . . .</a></li>
									<li><a href="#">College of Liberal Arts . . .</a></li>
									<li><a href="#">College of Engineering . . .</a></li>
									<li><a href="#">College of Science . . .</a></li>
									<li><a href="#">College of Business . . .</a></li>
								</ol>
							</div>
							<div class="select-course-container">
								<label class="white-button">Back</label>
								<ol>
									<li><a href="#">BS Computer Science with specialization in Software Technology</a></li>
									<li><a href="#">BS Computer Science with specialization in Network Engineering</a></li>
									<li><a href="#">BS Computer Science with specialization in Instructional Systems Technology</a></li>
									<li><a href="#">BS Computer Systems Engineering</a></li>
									<li><a href="#">BS Information Systems</a></li>
								</ol>
							</div>
							
						</div>
						<div class="description-container">
							<p>
								De La Salle University positions itself as a leader in molding human resources who serve the church and the nation. It is a Catholic coeducational institution founded in 1911 by the Brothers of the Christian Schools. The University is a hub for higher education training renowned for its academic excellence, prolific and relevant research, and involved community service.
								Nestled in the heart of Manila, De La Salle University is home to local and international students seeking quality education for a brighter future ahead. It is situated in a vibrant city where culture and diversity is well manifested.

								Website: dlsu.edu.ph
							</p>
						</div>

						<br><br>
						<a href="home.html.erb" class="green-button">ADD SCHOOL</a>
						<br><br><br>
					</div>
				</div>
			</div>

		</div>

	</body>
	
</html>