<!doctype html>

<html>
	<head>

		<!--JQUERY-->
		<script type="text/javascript" src="jquery-1.11.2.min.js"></script>

		<!--SELF-->
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="background_info.css">

		<!--MENU-->
		<script type="text/javascript" src="menu.js"></script>
		<link rel="stylesheet" type="text/css" href="css/menu.css">
	</head>
	<body>
			
		<div id="main-container">
			<div class="content-wrapper full">
				<div class="content-container">
					<br>
					<label class="main-title2">Background Information</label>

					<div class="information-container">
							<form>
								<input class="givenname" type="text" placeholder="GIVEN NAME">
								<input class="middlename" type="text" placeholder="MIDDLE NAME"><br>
								<input class="lastname" type="text" placeholder="LAST NAME">
								<input class="nickname" type="text" placeholder="NICKNAME"><br>
								<select>
									<option class="gender" selected disabled>GENDER</option>
									<option class="option" value="male">MALE</option>
									<option class="option" value="female">FEMALE</option>
								</select>
								<select>
									<option class="civilstatus" selected disabled>CIVIL STATUS</option>
									<option class="option" value="single">SINGLE</option>
									<option class="option" value="married">MARRIED</option>
									<option class="option" value="widowed">WIDOWED</option>
									<option class="option" value="legallyseparated">LEGALLY SEPARATED</option>
									<option class="option" value="divorced">DIVORCED</option>
								</select><br>
								<select>
									<option class="civilstatus" selected disabled>RELIGION</option>
									<option class="option" value="protestant">PROTESTANT</option>
									<option class="option" value="romancatholic">ROMAN CATHOLIC</option>
									<option class="option" value="islam">ISLAM</option>
								</select>
								<input class="dateofbirth" type="date" placeholder="DATE OF BIRTH mm/dd/yyyy"><br>
								<input class="submit" type="submit" value="SUBMIT">
							</form>
						</div>
				</div>
			</div>

		</div>

	</body>
	
</html>