	<body>

		<a href="signup.html.erb" class="signup-button">Sign Up</a>
		
		
		<div class="login">
			<label class="main-title1">Animo-app.ly9</label><br><br><br><br>
			<form action="home.html.erb">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<a href="home"><input type="submit" value="Login"></a>
			</form>
			
				
			<img class="bg">
			<%=image_tag("login-ribbon.png")%>

		</div>
			
	
	</body>
