<!doctype html>

<html>
	<head>
		<title>PCUAS</title>

		<script type="text/javascript" src="Libraries/jquery-1.11.2.min.js"></script>
	

        <!--SELF-->
		<script type="text/javascript" src="Scripts/menu.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/menu.css">
		
	</head>
	<body>

		<div id="menu-container">
			<div id="top-menu-container">
				<div id="menu-button" class="menu-item">
					<img src="Assets/Images/menu-logo.png">
				</div>
				<div id="logout" class="menu-item">
					<label unselectable="on">Log Out</label>
				</div>
				<div id="title-container" class="main-title1">
					<span unselectable="on">Animo.Apply</span>
				</div>
			</div>

			<div id="side-menu-container">
				<div id="side-menu-negative-space">
				</div>
				<div id="side-menu-container-list">
					<label id="header">Home</label>
					<div><span unselectable="on">Background Information</span></div>
					<div><span unselectable="on">Academic Information</span></div>
					<div><span unselectable="on">Documents & Transcripts</span></div>
					<div><span unselectable="on">Miscellaneous</span></div>
				</div>
			</div>

		</div>

		<div id="main-container">
			hello
		</div>

	</body>
</html>
