
	<body>

		<div id="menu-container">
			<div id="top-menu-container">
				<div id="menu-button" class="menu-item">
					<%=image_tag ("menu-logo.png")%>
				</div>
				<div id="logout" class="menu-item">
					<label unselectable="on">Log Out</label>
				</div>
				<div id="title-container" class="main-title1">
					<span unselectable="on">Animo.Apply</span>
				</div>
			</div>

			<div id="side-menu-container">
				<div id="side-menu-negative-space">
				</div>
				<div id="side-menu-container-list">
					<label id="header">Home</label>
					<div><span unselectable="on">Background Information</span></div>
					<div><span unselectable="on">Academic Information</span></div>
					<div><span unselectable="on">Documents & Transcripts</span></div>
					<div><span unselectable="on">Miscellaneous</span></div>
				</div>
			</div>

		</div>

		<div id="main-container">
			hello
		</div>

	</body>