<!doctype html>

<html>
	<head>

		<!--JQUERY-->
		<script type="text/javascript" src="Libraries/jquery-1.11.2.min.js"></script>

		<!--CAPTION HOVER EFFECTS REPLACEMENT-->
		<link rel="stylesheet" type="text/css" href="Libraries/CaptionHoverEffectsReplacement/caption_hover_effects.css">

		<!--SELF (DONT TOUCH THIS)-->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!--STYLE IN THIS CSS-->
		<link rel="stylesheet" type="text/css" href="css/results.css">
		<link rel="stylesheet" type="text/css" href="css/component.css">

		<!--MENU-->
		<script type="text/javascript" src="scripts/menu.js"></script>
		<link rel="stylesheet" type="text/css" href="css/menu.css">

	</head>
	<body>
			
		<div id="main-container">
			<br><br>
			<label class="main-title2">Results</label>
			<ul class ="grid">
				
				<li>	
					<figure>
						<div class="caption-hover-effect">
							<%=image_tag ("school-logo-dlsu.png")%>
							<div class="caption">
								<h3>Results</h3>
								<p>First Choice Accepted-BS Computer Science</p>
							</div>
						</div>
					</figure>
				</li>	
				<li>	
						<div class="caption-hover-effect">
							<%=image_tag ("school-logo-up.png")%>
							<div class="caption">
								<h3>Results</h3>
								<p>First Choice Wait Listed-BS Business Administration</p>
							</div>
						</div>
				</li>	
				<li>	
						<div class="caption-hover-effect">
							<%=image_tag ("school-logo-ateneo.png")%>
							<div class="caption">
								<h3>Results</h3>
								<p>Pending (Results Will Be Released on 09/27/2015)</p>
							</div>
						</div>
				</li>	
			</ul>	
		</div>
		

	</body>
	
</html>