<!doctype html>

<html>
	<head>

		<!--JQUERY-->
		<script type="text/javascript" src="Libraries/jquery-1.11.2.min.js"></script>

		<!--FULL PAGE-->
		<link rel="stylesheet" type="text/css" href="Libraries/FullPage/jquery.fullPage.css" />
		<script type="text/javascript" src="Libraries/FullPage/jquery.fullPage.js"></script>

		<!--SELF (DONT TOUCH THIS)-->
		<link rel="stylesheet" type="text/css" href="style.css">
		<!--STYLE IN THIS CSS-->
		<link rel="stylesheet" type="text/css" href="signup.css">
		<script type="text/javascript" src="signup.js"></script>

	</head>
	<body>
		<form action="home.html">
			<div id="signup">
			    <div class="section basic-details-container">
			    	<div class="description">
			    		<p>
			    			<b>Sign up</b> for the only centralized <br>
			    			university/college application system <br>
			    			in the Philippines
			    		</p>
			    	</div>
			    	<div class="register-wrapper">
			    		<div class="register-box">
				    		<label>Register Now</label><br>
				    		
				    		<input placeholder="username"><br>
				    		<input placeholder="email address"><br>
				    		<input placeholder="password" type="password"><br>
				    		<input placeholder="confirm password" type="password"><br>
				    		
								
				    		<label class="green-button" >Next</label>
				    		
				    	</div>
			    	</div>
			    	
			    </div>
			    <div class="section upload-photo-container">
			    	<div class="top-bar">
			    		<label class="main-title2">Upload a Picture</label><br>
			    		<label class="main-title3">Most universities will require a 2x2 ID picture from their aspiring applicants</label>
			    	</div>
			    	<div class="content-container">
			    		
				    	<%=image_tag("avatar.png")%><br>
				    	<input type="file" accept="image/*">
				    	
			    		<label class="white-button">Next</label>
			   		</div>
			    		
			    </div>
			    <div class="section agree-container">
			    	<div class="content-container">
			    		<label class="main-title1">Almost There9</label><br>
			    		<input type="checkbox">
			    		I agree to your terms and policies<br>
			    		<input type="checkbox">
			    		Register me to your newsletters and promotions<br>
						
						
						<input class="green-button" type="submit" value="Finish Signup">
						
			    	</div>
			    </div>
			</div>
		</form>
	</body>
	
</html>